html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#toastContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    width: 300px; /* Adjust as needed */
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.centered-links {
    text-align: center;
}
/* Center the loader */
#loader {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Disable scroll */
    background: rgba(0,0,0,0.5); /* Black background with opacity */
}

 #loader .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px solid #f3f3f3; /* Light grey */
        border-top: 10px solid #6A5ACD; /* Deep purple */
        border-radius: 50%;
        width: 80px; /* Adjust size as needed */
        height: 80px; /* Adjust size as needed */
        animation: spin 2s linear infinite;
 }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#searchMessage {
    margin-top: 10px;
}

.table-responsive {
    margin-bottom: 20px; /* Adds some space between table and search box */
}

/* Custom styles for centering content and background */
.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    background-color: #f8f9fa; /* Example background color */
}

.form-container {
    width: 90%; /* Adjust width as needed */
    max-width: 600px; /* Max width of the form */
    padding: 20px;
    background-color: #ffffff; /* Background color for the form box */
    border: 1px solid #ced4da; /* Example border color */
    border-radius: 8px; /* Example border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Custom styles for centering content and background */
.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    background-color: #f8f9fa; /* Example background color */
}

.content-box {
    max-width: 600px; /* Max width of the content */
    padding: 20px;
    background-color: #ffffff; /* Background color for the content box */
    border: 1px solid #ced4da; /* Example border color */
    border-radius: 8px; /* Example border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
    text-align: center; /* Center align text */
}

/* Custom styles for centering content and background */
.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    background-color: #f8f9fa; /* Example background color */
}

.content-box {
    width: 90%; /* Container width is 90% of viewport width */
    max-width: 600px; /* Max width of the content */
    padding: 20px;
    background-color: #ffffff; /* Background color for the content box */
    border: 1px solid #ced4da; /* Example border color */
    border-radius: 8px; /* Example border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
    text-align: center; /* Center align text */
}



/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}


// Pulse 5.3.3
// Bootswatch


// Variables

// Buttons

.btn {
    &:focus, &:active, &:active:focus, &.active:focus

{
    outline: none;
}

&-secondary {
    color: $gray-900;
    background-color: $white;
    border-color: #ccc;
    &:hover

{
    color: $gray-900;
    background-color: $gray-300;
    border-color: $gray-500;
}

&.disabled {
    color: tint-color($gray-900, 5%);
    background-color: $white;
    border-color: tint-color(#ccc, 5%);
}

.milk-blue-background {
    background-color: #E0FFFF; /* Light cyan color which can be considered a milk-blue shade */
}
/* Center the main container in the viewport */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    background-color: #f8f9fa; /* Background color for the page */
}

/* Style the box containing the content */
.account-settings-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.container-inner {
    padding: 1rem;
}

/* Style for the sidebar */
.sidebar {
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 8px;
}

/* Style for the navigation links in the sidebar */
.nav-link {
    color: #007bff;
}

    .nav-link.active {
        font-weight: bold;
        color: #0056b3;
    }

.fab fa-google google-icon {
    color: #DB4437; /* Google's red color */
}

.facebook-icon {
    color: #1877F2; /* Facebook's blue color */
}

.twitter-icon {
    color: #1DA1F2; /* Twitter's blue color */
}

.github-icon {
    color: #333; /* GitHub's black color */
}

&-warning {
    color: $white;
}

&-primary:focus {
    box-shadow: 0 0 5px tint-color($primary, 10%);
}

&-secondary:focus {
    box-shadow: 0 0 5px $gray-400;
}

&-success:focus {
    box-shadow: 0 0 5px tint-color($success, 10%);
}

&-info:focus {
    box-shadow: 0 0 5px tint-color($info, 10%);
}

&-warning:focus {
    box-shadow: 0 0 5px tint-color($warning, 10%);
}

&-danger:focus {
    box-shadow: 0 0 5px tint-color($danger, 10%);
}

&.disabled:focus {
    box-shadow: none;
}

}

// Tables

.table .thead-dark th {
    background-color: $secondary;
    border-color: $table-border-color;
}

// Forms

.form-control:focus {
    box-shadow: 0 0 5px rgba(100, 65, 164, .4);
}

// Navs

.nav-tabs {
    .nav-link, .nav-link.active,

{
    border-width: 0 0 1px;
}

.nav-link:hover,
.nav-link.active,
.nav-link.active:hover,
.nav-link.active:focus {
    border-bottom: 1px solid $primary;
}

.nav-item + .nav-item {
    margin-left: 0;
}

}

.breadcrumb {
    &-item.active

{
    color: $gray-700;
}

}

// Indicators

.badge {
    &.bg-light

{
    color: $dark;
}

}

// Progress bars

.progress {
    height: 8px;
}

// Containers

.list-group {
    &-item

{
    color: rgba(255, 255, 255, .8);
    &.active, &:hover, &:focus

{
    color: $white;
}

&.active {
    font-weight: 700;
    &:hover

{
    background-color: $list-group-hover-bg;
}

}

&.disabled:hover {
    color: $list-group-disabled-color;
}

}
}
// Pulse 5.3.3
// Bootswatch

$theme: "pulse" !default;

//
// Color system
//

$white: #fff !default;
$gray-100: #fafafa !default;
$gray-200: #f9f8fc !default;
$gray-300: #ededed !default;
$gray-400: #cbc8d0 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #444 !default;
$gray-800: #343a40 !default;
$gray-900: #17141f !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #593196 !default;
$pink: #e83e8c !default;
$red: #fc3939 !default;
$orange: #fd7e14 !default;
$yellow: #efa31d !default;
$green: #13b955 !default;
$teal: #20c997 !default;
$cyan: #009cdc !default;

$primary: $purple !default;
$secondary: #a991d4 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-200 !default;
$dark: $gray-900 !default;

$min-contrast-ratio: 2.1 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color: $gray-700 !default;

// Links

$link-hover-color: $primary !default;

// Tables

$table-border-color: rgba(0, 0, 0, .05) !default;

// Forms

$input-focus-border-color: $primary !default;

// Dropdowns

$dropdown-link-color: $gray-700 !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;

// Navs

$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: $primary !default;

// Navbar

$navbar-padding-y: 1.2rem !default;

// Progress bars

$progress-bg: $gray-300 !default;
$progress-bar-bg: $primary !default;

// List group

$list-group-bg: $gray-900 !default;
$list-group-border-color: transparent !default;
$list-group-hover-bg: lighten($list-group-bg, 10%) !default;
$list-group-active-color: $white !default;
$list-group-active-bg: $list-group-bg !default;
$list-group-disabled-color: lighten($list-group-bg, 30%) !default;
