

@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="text-center text-success">@ViewData["Title"]</h1>
<div class="container border rounded p-4 shadow-sm">
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p class="text-muted">
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf" class="text-primary">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="text-success">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p class="text-muted">
                Please check your email to confirm your account.
            </p>
        }
    }
</div>



